.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.center-top{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
body {
  background-image: url('./bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0vh;
}